<html>
<head>
	<title>Hey Astroids!</title>
	<script src="/dronestream/nodecopter-client.js"></script>
	<script src="/keyboard.js"></script>
	<script src="/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/asteroids.css">
</head>
<body>
  <a href="https://github.com/leanderlee/drone-hack"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/forkme.png" alt="Fork me on GitHub"></a>
  <canvas id='background'></canvas>
  <div id="content">
    <div id="logo"></div>
    <div id="instructions"></div>
    <div id="help">?</div>
    <div id="canvas">
      <div id="crossHair">
        <img style="width:100%;" id="blast" src="/blast.gif" />
      </div>
      <div id="laserR"></div>
      <div id="laserL"></div>
      <div id="droneStream" width="640" height="360" />
    </div>
    <audio id="laserSound" src="laser.wav" preload="auto"></audio>
    <audio id="blastSound" src="blast.wav" preload="auto"></audio>
  </div>
	<script>
	  // video canvas will auto-size to the DOM-node, or default to 640*360 if no size is set.
	  new NodecopterStream(document.getElementById("droneStream"));
	</script>
  <script src="game.js"></script>
  <script src="http://localhost:3001/socket.io/socket.io.js"></script>

  <!-- galaxy background -->
	<script src="/galaxy.js"></script>
  <script>
    var socket = io.connect('http://localhost:3001');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: '2' });
    });

    var timer
    var log
    var mapping = {
      'enter': 'takeoff',
      'esc' : 'land',
      'up' : 'front',
      'down' : 'back',
      //'left' : 'left',
      //'right' : 'right',
      'left' : 'counterClockwise',
      'right' : 'clockwise',
      //'i' : 'up',
      //'k' : 'down',
      'dash': 'decreaseSpeed',
      'equal': 'increaseSpeed',
    }

    $(function(){
      timer = setInterval(tick, 30)
      log = $('#log')
      
      for (var k in mapping) {
        if (mapping.hasOwnProperty(k)) {
          $('#controls').append(k + ' => ' + mapping[k] + '<br/>');
        }
      }
    })

    var tick = function(){
      keys = KeyboardJS.activeKeys()
      log.text(keys)

      if(keys.length > 0) {

        commands = []
        for (var i = 0; i < keys.length; i++) {
          key = keys[i]
          command = mapping[key]
          if(command != undefined){
            commands.push(command)
          }
        }

        if(commands.length > 0){
          log.text(commands)
          if(commands[0] === 'takeoff'){
            socket.emit('takeoff');
          } else if(commands[0] === 'land'){
            socket.emit('land');
          } else if(commands[0] === 'increaseSpeed'){
            socket.emit('increaseSpeed');
          } else if(commands[0] === 'decreaseSpeed'){
            socket.emit('decreaseSpeed');
          } else{
            socket.emit('command', commands);
          }
        } else{
          socket.emit('stop');
          log.text('')
        }
      } else{
        log.text('')
        socket.emit('stop');
      }
    }

  </script>
</body>
</html>
