<html>
<head>
	<title>Hey Astroids!</title>
	<script src="/dronestream/nodecopter-client.js"></script>
	<script src="/keyboard.js"></script>
	<script src="/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/asteroids.css">
</head>
<body>
  <a href="https://github.com/leanderlee/drone-hack"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/forkme.png" alt="Fork me on GitHub"></a>
  <canvas id='background'></canvas>
  <div id="content">
    <div id="logo"></div>
    <div id="instructions"></div>
    <div id="game-over">
      <h2>Good Game.</h2>
      <table>
        <tbody>
          <tr>
            <td>Score</td>
            <td class="score"></td>
          </tr>
          <tr>
            <td>Accuracy</td>
            <td class="accuracy"></td>
          </tr>
          <tr>
            <td>Time</td>
            <td class="time"></td>
          </tr>
          <tr>
            <td>Overall</td>
            <td class="overall"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="help">?</div>
    <div id="canvas">
      <div id="crossHair">
        <img style="width:100%;" id="blast" src="/blast.gif" />
      </div>
      <div id="laserR"></div>
      <div id="laserL"></div>
      <div id="droneStream" width="640" height="360"></div>
    </div>
    <audio id="laserSound" src="/laser.wav" preload="auto"></audio>
    <audio id="blastSound" src="/blast.wav" preload="auto"></audio>
  </div>
	<script>
	  // video canvas will auto-size to the DOM-node, or default to 640*360 if no size is set.
	  new NodecopterStream(document.getElementById("droneStream"));
	</script>
  <script src="game.js"></script>
  <script src="http://localhost:3001/socket.io/socket.io.js"></script>

  <script src="/cv/jsfeat-min.js"></script>
  <script src="/cv/cv-util.js"></script>
  <script src="/cv/haar-box.js"></script>
  <script src="/cv/frontalface.js"></script>
  <script src="/cv/vision.js"></script>
  <!-- galaxy background -->
	<script src="/galaxy.js"></script>
  <script>
    var socket = io.connect('http://localhost:3001');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: '2' });
    });

    var timer
    var log
    var mapping = {
      'enter': 'takeoff',
      'esc' : 'land',
      'up' : 'front',
      'down' : 'back',
      //'left' : 'left',
      //'right' : 'right',
      'left' : 'counterClockwise',
      'right' : 'clockwise',
      //'i' : 'up',
      //'k' : 'down',
      'dash': 'decreaseSpeed',
      'equal': 'increaseSpeed',
    }

    $(function(){
      timer = setInterval(tick, 30)
      log = $('#log')
      
      for (var k in mapping) {
        if (mapping.hasOwnProperty(k)) {
          $('#controls').append(k + ' => ' + mapping[k] + '<br/>');
        }
      }
    })

    var tick = function(){
      keys = KeyboardJS.activeKeys()
      log.text(keys)

      if(keys.length > 0) {

        commands = []
        for (var i = 0; i < keys.length; i++) {
          key = keys[i]
          command = mapping[key]
          if(command != undefined){
            commands.push(command)
          }
        }

        if(commands.length > 0){
          log.text(commands)
          if(commands[0] === 'takeoff'){
            socket.emit('takeoff');
          } else if(commands[0] === 'land'){
            socket.emit('land');
          } else if(commands[0] === 'increaseSpeed'){
            socket.emit('increaseSpeed');
          } else if(commands[0] === 'decreaseSpeed'){
            socket.emit('decreaseSpeed');
          } else{
            socket.emit('command', commands);
          }
        } else{
          socket.emit('stop');
          log.text('')
        }
      } else{
        log.text('')
        socket.emit('stop');
      }
    }

  </script>
  <script>
    $('#canvas').hide();
    $('#help').hide();
    $('#instructions').click(function () {
      $('#help').show();
      $('#instructions').slideUp();
      $('#canvas').slideDown();
      //socket.emit('takeoff');
      main.init();
    });
    $('#help').click(function () {
      $('#help').hide();
      $('#canvas').slideUp();
      $('#instructions').slideDown();
      socket.emit('land');
    });
    $(document).on('gameOver', function () {
      $('#help').hide();
      $('#canvas').slideUp();
      $('#instructions').slideUp();
      $('#game-over').slideDown();

      var stats = main.getStats();
      stats.time = Math.round(stats.time)
      // var stats = { score: 300, time: 100000, shotsHit: 3, shotsFired: 123 };
      var pct = (stats.shotsHit/stats.shotsFired);
      $("#game-over .accuracy").text(stats.shotsHit + "/" + stats.shotsFired + " = " + (pct*100).toFixed(1) + "%");
      $("#game-over .score").text(stats.score + " points");
      $("#game-over .time").text(stats.time + " seconds taken");
      var overall = 5;
      if (stats.time > 10) overall--;
      if (stats.time > 30) overall--;
      if (pct < 0.9) overall--;
      if (pct < 0.5) overall--;
      $("#game-over .overall").text(overall + "/5");
      var messages = ["Just go home.", "You tried.", "Good game, need more practice!", "So close! Almost a master.", "Congratulations, boss."];
      $("#game-over h2").text(messages[overall-1]);
      
    })
  </script>
</body>
</html>
