#background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	z-index: -1;
}
#content {
	position: relative;
	width: 640px;
	margin: 0 auto;
}
#help {
	position: absolute;
	top: 120px;
	right: -100px;
	color: white;
	cursor: pointer;
	font: 32pt/32pt Arial;
	width: 64px;
	height: 64px;
	margin: 0;
}
#logo {
	display: block;
	background: url(/logo.png) no-repeat;
	width: 563px;
	height: 68px;
	margin: 50px auto;
}
#instructions {
	position: absolute;
	top: 120px;
	display: block;
	background: url(/instructions.png) no-repeat;
	width: 640px;
	height: 350px;
	margin: 20px auto;
	border-radius: 10px;
}
#canvas {
	display: block;
	position: relative;
	width: 640px;
	height: 360px;
	outline: 4px solid #ccc;
}
#controls {
	position:absolute;
	top:0;
	right:0;
	padding:10px;
}
.canvas {
	z-index: 999;
	width: 640px;
	height: 360px;
	border: 1px solid;
	position: absolute;
}
.blade {
    background: #fff;
    float: left;
    height: 20px;
    margin: 3px 0 0 0;
    width: 0;
    position: relative;
    left: 0;
    top: 6px;
    border-radius: 0 1200px 1200px 0 / 0 400px 400px 0;
    -moz-box-shadow: inset 0 0 5px #01fe32, 0 0 20px #08ff35, 0 0 30px #08ff35,0 0 20px #08ff35;
    -webkit-box-shadow: inset 0 0 5px #01fe32, 0 0 20px #08ff35, 0 0 30px #08ff35,0 0 20px #08ff35;
    box-shadow: inset 0 0 5px #01fe32, 0 0 20px #08ff35, 0 0 30px #08ff35,0 0 20px #08ff35;
    -moz-transition-property: -moz-box-shadow, box-shadow, width;
    -moz-transition-duration: 0.5s;
    -ms-transition-property: box-shadow, width;
    -ms-transition-duration: 0.5s;
    -o-transition-property: box-shadow, width;
    -o-transition-duration: 0.5s;
    -webkit-transition-property: -webkit-box-shadow, box-shadow, width;
    -webkit-transition-duration: 0.5s;
}
#laserR {
background: #fff;
float: left;
height: 20px;
margin: 3px 0 0 0;
width: 370;
position: absolute;
left: 0;
top: 6px;
border-radius: 1200px 1200px 1200px 0 / 0 1400px 1400px 0;
-webkit-box-shadow: inset 0 0 5px #01fe32, 0 0 20px #08ff35, 0 0 30px #08ff35,0 0 20px #08ff35;
box-shadow: inset 0 0 5px #01fe32, 0 0 20px #08ff35, 0 0 30px #08ff35,0 0 20px #08ff35;
-webkit-transition-property: -webkit-box-shadow, box-shadow, width;
-webkit-transition-duration: 0.5s;
-webkit-transform: rotate(-152deg);
z-index: 99999;
top: 260px;
left: 308px;
}
#laserL {
background: #fff;
float: left;
height: 20px;
margin: 3px 0 0 0;
width: 370;
position: absolute;
left: 0;
top: 6px;
border-radius: 1200px 1200px 1200px 0 / 0 1400px 1400px 0;
-webkit-box-shadow: inset 0 0 5px #01fe32, 0 0 20px #08ff35, 0 0 30px #08ff35,0 0 20px #08ff35;
box-shadow: inset 0 0 5px #01fe32, 0 0 20px #08ff35, 0 0 30px #08ff35,0 0 20px #08ff35;
-webkit-transition-property: -webkit-box-shadow, box-shadow, width;
-webkit-transition-duration: 0.5s;
-webkit-transform: rotate(-28deg);
z-index: 99999;
top: 258px;
left: -24px;
}
#crossHair {
	z-index: 999;
	width: 120px;
	height: 120px;
	position: absolute;
	background: url('/images/crosshair.png') no-repeat center center;
	left: 260px;
	top: 120px;
}
.asteroid {
    z-index: 9999;
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url('/rock3.png');
    top: 0px;
    left: 0px;
}